@using Dashboard.MVC.ViewModels.Chamados;
@model TipoChamadoViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tipo de chamado</h5>

                <form asp-action="@Model.FormAction">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TipoChamadoId" />
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label"></label>
                        <input asp-for="Descricao" class="form-control" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Prioridade" class="control-label"></label>
                        <input asp-for="Prioridade" class="form-control" />
                        <span asp-validation-for="Prioridade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Todos os Tipos de chamado</h5>

                <table class="table table-hover dataTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Descricao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prioridade)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataCadastro)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataAtualizacao)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TiposChamadoViewModel)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prioridade)
                                </td>
                                <td>
                                    @item.DataCadastro.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @(item.DataAtualizacao.HasValue ? item.DataAtualizacao.Value.ToString("dd/MM/yyyy") : "N/A")
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" asp-action="Index" asp-route-id="@item.TipoChamadoId"><i class="far fa-edit"></i></a> |
                                    <form class="d-inline" asp-action="Remover">
                                        <input name="id" type="hidden" value="@item.TipoChamadoId" />
                                        <button type="submit" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
